/.idea/.gitignore
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/e/8/e802ec3f716a5a3bdc14c3c2c4b254da5025cbd7
/.idea/sonarlint/issuestore/index.pb
/.idea/java-sv2-labs-daily02.iml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
